@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100% !important; /* Ensure the minimum height is the full viewport */
  font-family: "PT Sans", sans-serif !important;
  background-color: black !important;
  overflow-x: hidden !important;
}

:root {
  --heading: #06ddd3;
  --para: #050505;
  --para-tint: #e4e4e4;
  --third: #fefded;
  --helper: #06ddd3;
  --helper-tint: #f3f4ff;
  --gradient: linear-gradient(
    148deg,
    rgba(252, 65, 0, 1) 15%,
    rgba(255, 197, 90, 1) 66%
  );
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --breakpoint-lg: 1200px; /* define the variable */
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 3.2rem !important;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

.navbar-logo {
  font-size: 24px; /* Larger font size for logo */
  font-weight: bold; /* Bold font weight for logo */
  height: 4rem; /* thapa style*/
  padding-bottom: 0rem;
}
.logo-img {
  height: 44px;
}

.navbar-nav {
  display: flex;
  list-style-type: none; /* Remove list bullets */
  align-items: center; /* Align menu items vertically */
  justify-content: center; /* Center navigation items horizontally */
  flex: 1; /* Let the nav take up the full width */
  padding-right: 14%;
  font-weight: 700;
}

.mobile-navbar-btn {
  display: none;
}
/* ########################################################## */
.homepage-background span {
  background: linear-gradient(to right, #fbff00 0%, #48f6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homepage-background {
  background-image: url("images/black-neon-bg.png");
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  font-weight: 700;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: flex-start; /* Center content horizontally */
  text-align: center;
  overflow: hidden;
  text-align: left;
  padding-left: 30px;
}
/* Apply animation styles from CodePen */
h1 {
  display: inline-block;
  color: #fefded;
  /* text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1); */
  letter-spacing: 5px;
}
.section-biodata p span {
  background: linear-gradient(to right, #fbff00 0%, #48f6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  letter-spacing: 2px;
  font-weight: 500;
  color: #fefded;
}
.section-hero .homepage-background a p {
  color: #fefded;
}
.homepage-background a {
  padding: 1rem;
}
.button {
  appearance: none;
  background-color: #e5e900;
  border-radius: 1em;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, sans-serif; */
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 4.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #e5e900;
  box-shadow: #06ddd3 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}
.section-freelancer .button {
  background-color: #06ddd3;
}
.p-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
/* Media Queries */

/* ===========================================
Media Queries Section
======================================= */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .grid-three-col {
    grid-template-columns: 100% !important;
  }
  .homepage-background {
    background-size: contain;
    height: auto;
    padding: 0;
    background-position: top;
    /* position: relative;
    filter: blur(1px); */
  }
  .homepage-background h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .homepage-background a p {
    font-size: 18px;
    width: 65%;
    background-color: #0000008f;
    border-radius: 12px;
  }
  .homepage {
    transform: translateX(12px);

    /* z-index: 2;
    width: 80%;
    padding: 20px; */
  }
  .bio-image img {
    display: none !important;
  }
  .grid-two-col {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 27px;
  }
  .button {
    padding: 5.5px 3.3rem;
  }
  .grid {
    gap: 0rem;
  }
}
/* ###################################################################################################################### */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */

  .homepage-background {
    background-size: contain;
    /* height: auto;
    padding: 0; */
    background-position: top;
  }
  .homepage-background h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .homepage-background a p {
    font-size: 18px;
    width: 65%;
    background-color: #0000008f;
    border-radius: 12px;
  }
  .grid-two-col {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-biodata {
    transform: translateY(-186px);
  }
  .grid {
    gap: 0rem;
  }
  .section-portfolio {
    transform: translateY(-243px);
  }
  .button {
    padding: 0.3rem 2rem;
  }
  .grid-three-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-freelancer p {
    font-size: 1.5rem;
  }
  .section-services .grid-three-col {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ############################################################################################################### */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices */
  .homepage-background {
    background-size: contain;
    background-position: top;
  }
  .homepage-background .button {
    transform: translateY(22px);
    padding: 0.4rem 3rem;
  }
  .section-biodata .grid-two-col {
    display: block;
    transform: translateY(-102px);
  }
  .section-biodata .bio-data {
    transform: translateY(-167px);
  }
  .section-portfolio {
    transform: translateY(-171px);
  }
  .homepage h1 {
    font-weight: 700;
  }
}
/* ######################################################################################################################### */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  .homepage-background {
    background-size: cover;
    height: 100vh;
    padding-left: 30px;
  }
  .homepage-background h1 {
    font-weight: 700;
  }
  .section-biodata .grid-two-col {
    column-gap: normal;
    row-gap: normal;
  }
  .bio-data-stats {
    width: 205%;
  }
  .bio-data {
    width: 107%;
  }
  .section-services .grid {
    gap: 2rem;
  }
}
/* ########################################################################################################################## */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
  .homepage-background {
    background-size: cover;
    height: 100vh;
    padding-left: 30px;
  }
  .homepage-background h1 {
    font-weight: 700;
    font-size: 50px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  .section-biodata .grid {
    gap: 0rem;
  }
  .bio-data-stats {
    width: 213%;
  }
  .section-services .grid {
    gap: 4rem;
  }
}

/* ##################################################################################################################### */
@media (min-width: 1400px) {
  /* Styles for very large devices */
  .homepage-background {
    background-size: cover;
    height: 100vh;
    padding-left: 30px;
  }
}

/* ===========================================
       Bio Data Section Start
======================================= */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  display: inline-block;
  width: 80%;
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
  color: #06ddd3;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 30%;
  height: 0.3rem;
  background: var(--helper);
}

.bio-data-stats {
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #06ddd3;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  /* background: var(--para); */
  background-color: rgb(233 236 239);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadpw);
  /* overflow: hidden; */
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: -webkit-linear-gradient(0deg, #018fa6 0%, #e0e111 100%);

  border-radius: 10rem;
}

/* to create the rectangle box  */
.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  left: 76%;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* to create the traingle or caret symbol  */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  top: -1.6rem;
  width: 0rem;
  height: 0rem;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
}

/* ===========================================
      Section portfolio
======================================= */

/* .section-portfolio p, */
.section-services p {
  max-width: 60rem;
}

.portfolio-images {
  gap: 3.2rem;
  /* margin-top: 6.4rem; */
}

.img-ovelay {
  position: relative;
  overflow: hidden;
  display: flex;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-ovelay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(0deg, #06ddd3 0%, #e5e900 100%);
  opacity: 0;
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
  /* box-shadow: inset 0 0 0 0.5rem var(--helper-tint); */
}

.img-ovelay:hover > .overlay {
  opacity: 0.8;
  transform: translateY(0);
  cursor: pointer;
}

.img-ovelay .overlay .common-heading {
  margin: 0;
  color: var(--third);
  text-decoration: none;
}

/* ===========================================
Services Section
======================================= */

.section-services p {
  max-width: 60rem;
}

/* .section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
} */
.service-icon.md.hydrated {
  width: 3em;
  height: 3em;
}

.service-box {
  text-align: center;
  box-shadow: var(--shadpw);
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}

.service-box:hover {
  transform: translateY(-3rem);
}

.serive-icon {
  width: 8rem;
  height: 8rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}

.serive-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
/* ===========================================
Testimonial Swiper Queries Section
======================================= */
/* 
.section-testimonial {
  background-color: var(--bg);
} */

/* .swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px; */
/* background: #fff; */

/* Center slide text vertically */
/* flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 5rem;
} */

/* .swiper-client-msg {
  padding: 5rem 8rem;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  box-shadow: var(--shadpw);
  position: relative;
} */

/* .swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%); */
/* width: 5rem;
  height: 5rem; */
/* border: 5rem solid var(--third);
  border-color: transparent;
  border-top-color: var(--third);
} */

/* .swiper-client-msg p::before {
  content: "\f10d";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #fc4100;
} */

/* .swiper-client-msg p::after {
  content: "\f10e";
  position: absolute;
  bottom: 0%;
  right: 5%;

  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #fc4100;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper-client-data {
  align-items: center;
  justify-items: start;
  justify-content: start;
  gap: 1.4rem;
  margin-top: 3.2rem;
} */

/* .swiper-client-data img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #ced3ff;
} */

/* .swiper-client-data p:first-child {
  font-weight: bold;
  color: var(--heading);
} */
/* ===========================================
           freelancer  Section
======================================= */

.section-freelancer {
  background-image: url("./images/frelancing-sec-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  padding: 9rem 0;
}

.section-freelancer .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e900;
  opacity: 0.7;
}

.section-freelancer .container {
  position: relative;
}

.section-freelancer h2 {
  font-size: 5.4rem;
}

.section-freelancer h2 span {
  color: #0000ff;
}

.section-freelancer h2,
.section-freelancer p {
  margin-bottom: 1.8rem;
}
/* ===========================================
contact Section
======================================= */

.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-contact-main .grid {
  gap: 2.4rem;
}

.section-contact-main input,
textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;

  width: 100%;
  font-size: 1.6rem;
}

.section-contact-main textarea {
  height: 15rem;
}

/* ::placeholder {
  font-size: 1.6rem;
  font-family: "work sans";
} */

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

/* ===========================================
Footer Section
======================================= */

.section-footer {
  background: var(--heading);
}

.section-footer h3 {
  color: var(--third);
  margin-bottom: 4rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #adadad;
}

.f-social-icons .icons {
  width: 4rem;
  height: 4rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
  color: var(--third);
}

.f-credits p {
  text-align: center;
}

footer a:hover {
  color: var(--third);
}

/*########################## CONTACT- FORM ################################################*/
.contact-page {
  background-color: #f5f5f5;
}
.contact-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #d9a900;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #c70000;
}

.form-group.error input,
.form-group.error textarea {
  border-color: #c70000;
}

.error {
  color: #c70000;
}
/* ################################### AK DREAMS CSS ################################## */
.AK-dream-container {
  background-color: whitesmoke;
}
.hero-banner-h1 {
  color: white;
}
.button-link {
  padding: 30px;
}
